*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: greenyellow;
}

a:active{
    text-decoration: none;
    color: black;
}

nav a:link{
    font-size: 18px;
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

main-header{
    background-color: gray;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
}

post-header{
    margin-bottom: 40px;
}